.App {
  text-align: center;
}

.IdCard {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 1em;
  padding: 20px;
}

.IdCard img {
  width: 200px;
}

.IdCard p {
  text-align: justify;
  padding: 0;
  margin: 1em;
}

.Greetings {
  border: 1px solid black;
  margin: 1em;
  padding-left: 1em;
  font-size: large;
  text-align: left;
  font-weight: 600;
}

.random-num {
  border: 1px solid black;
  margin: 1em;
  padding-left: 1em;
  font-size: large;
  text-align: left;
  font-weight: 600;
}

.box-color {
  border: 1px solid black;
  margin: 1em;
  font-size: large;
  padding: 70px 0;
  text-align: center;
  font-weight: 600;
  border: 1px solid;
}
